<div class="bg-gray-200 rounded-xl text-white p-4 flex items-center justify-between *:p-2">
  
  <input class="w-full bg-white text-black rounded-l-lg border border-black" type="search" name="search" placeholder="" aria-label="Search jobs">
  <button class="bg-blue-950 rounded-r-lg hover:brightness-125 active:brightness-50 cursor-pointer"  aria-label="Search">
    Buscar
  </button>
  <button class="bg-blue-950 rounded-lg ms-1 hover:brightness-125 active:brightness-50 cursor-pointer" >
    Recargar
  </button>
</div>
