<div class="container mx-auto p-4">
  <div class="bg-gray-200 rounded-xl text-white p-4 flex items-center justify-between *:p-2">
    <select class="bg-cyan-600 rounded-l-lg" name="spider" id="spider" [(ngModel)]="spiderSelected">
      @for (item of spiders(); track $index) {
      <option value="{{item}}">{{item}}</option>
      }
    </select>
    <input class="w-full bg-white text-black  " type="text" name="text" placeholder="" [(ngModel)]="text">

    <button class="bg-blue-950 rounded-r-lg hover:brightness-125 active:brightness-50 cursor-pointer"
      (click)="addUrl()">
      Agregar
    </button>
    <button class="ms-2 bg-blue-500 rounded-lg hover:brightness-125 active:brightness-50 cursor-pointer"
      (click)="crawl()">
      Generar
    </button>
  </div>

  <div class="mt-6">
    @for (item of urls(); track $index) {
    <div class="bg-gray-100 rounded-lg p-2 space-x-1 mb-2 flex items-center justify-between">

      <span class="font-bold ms-2 text-black">{{ item.spider }}</span>
      <span class="ms-2 text-black">{{ item.path }}</span>
      <button class="bg-red-500 text-white rounded-lg px-2 hover:bg-red-600 active:bg-red-700 cursor-pointer"
        (click)="removeItem($index)">
        Eliminar
      </button>
    </div>
    }
  </div>

</div>